.wrapper {
    --border-radius: 92px;
    --search-height: 46px;
    --spacer-top: 9px;
    --search-btn-width: 52px;
    height: var(--header-height);
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    display: flex;
    justify-content: center;
}

.content {
    width: var(--content-width);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search,
.search-result {
    width: 361px;

}

.search {
    display: flex;
    position: relative;
    height: 46px;
    background-color: rgba(22, 24, 35, 0.06);
    padding-left: 16px;
    border-radius: var(--border-radius);
    border: 1.5px solid transparent;

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }

    input {
        height: 100%;
        flex: 1;
        background-color: transparent;
        font-size: 1.6rem;
        color: var(--black-color);
        caret-color: var(--primary-color)
    }

    input:not(:placeholder-shown)~.search-btn {
        color: rgba(24, 24, 35, 0.75)
    }

    &::after {
        content: "";
        position: absolute;
        right: var(--search-btn-width);
        top: var(--spacer-top);
        height: calc(var(--search-height) - var(--spacer-top) * 2);
        width: 1px;
        background-color: rgba(22, 24, 35, 0.34);
    }
}

.search-title {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 5px 12px;
    color: rgba(22, 24, 35, 0.5);

}

.search-result {
    transform: translateX(19px);
}

.clear,
.loading {
    position: absolute;
    right: calc(var(--search-btn-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34)
}

.search-btn {
    width: var(--search-btn-width);
    height: 100%;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    font-size: 1.8rem;

    color: rgba(22, 24, 35, 0.34);

    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}